*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}
.choice {
    height: 165px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 3rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 5rem;
    gap: 4rem;
}
#user-score,
#comp-score,
#draw-score,
#totalMoves{
    font-size: 3rem;
}
.msg-contenior{
    margin-top: 5rem;
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 2rem;
}

@media screen and (max-width: 569px) {
    /* STYLES HERE */
    body{
        height: 100%;
        width: 100%;
        overflow-x: hidden;
    }
    h1{
        background-color: #081b31;
        color: #fff;
        height: 5vmax;
        text-align: center;
        line-height: 5vmax;
        width:100%;
    }
    .choice {
        height: 6vmin;
        width: 6vmin;
        background-color: aquamarine;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    .choice:hover{
        cursor: pointer;
        background-color: #081b31;
    }
    img{
        height: 25vmin;
        width: 25vmin;
        object-fit: cover;
        border-radius: 50%;
    }
    .choices{
        /* background-color: black; */
        gap: 30vmin;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 45vmin;
    }
    
    .score-board{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.9vmin;
        margin-top: 5rem;
        gap: 4rem;
    }
    #user-score,
    #comp-score,
    #draw-score,
    #totalMoves{
        font-size: 9vmin;
    }
    .msg-contenior{
        margin-top: 5rem;
    }
    
    #msg{
        background-color: #081b31;
        color: #fff;
        font-size: 3vmin;
        display: inline;
        padding: 1rem;
        border-radius: 2rem;
    }
} 
